
  <!-- CURRENT USER TAKES CARE OF ALL INFO NEEDED FOR USER -->
<div class="dashboard-banner">
  <div class="dashboard-banner-content">
    <div class="username">
      <h1><%= current_user.username %></h1>
    </div>
    <div>
    <%= image_tag("dashflowers.png")%>
    </div>
    <div class="user-details">
      <div class="user-detail">
        <p><%= image_tag("calendar.png", size:25)%> Aliyah Date <%= current_user.alyah_date.to_date %></p>
      </div>
      <div class="user-detail">
        <p><%= image_tag("pita-bread.png", size:25)%> Pita <%= current_user.pita %></p>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-content">

  <!-- BELOW TAKES CARE OF ITERATING OVER ALL CURRENT USER MESIMOT -->
  <!-- @accepted IS = TO ALL ACCEPETED OBJECTS THAT BELONG TO CURRENT USER -->

  <div class="accepted-mesimot">
    <% @accepted.each_with_index do |task, ind| %>
    <%= link_to mesima_path(task.mesima) do %>
    <div class="challenge-card">
      <ul>
        <li> <h2 class="challenge-card-title">Challenge # <%= ind %></h2></li>
        <li> <p>Status: <%= task.status %></p></li>
        <li> <p>Mesima Name: <%= task.mesima.name%></p></li>
        <li> <p>Mesima Description: <%= task.mesima.description%></p></li>
        <li> <p>Mesima Worth: <%= task.mesima.worth%></p></li>
        <li> <p>Mesima Category: <%= task.mesima.category %></p></li>
      </ul>
    </div>
    <% end %>
  <% end %>
  </div>

  <!-- @UNTIL_YOSSI IS SET IN THE PAGES CONTROLLER -->
  <div class="yossi-graph">
    <h2>My Yossi</h2>
    <p>I'm are <%= current_user.pita %>% Sabra</p>
    <img src="/assets/Yossi.3-232f84bca13f81176ba2453f63c97697b63f2a2c1f16fd43c89ac9fba4f4cc78.png" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) <%= @until_yossi %>, #EAC435 100%);">
  </div>
</div>



<!-- MESIMOT ENDS HERE -->
