<div class="background-wrap"style="background-image: url('/assets/mesima-index-775bd3602bbcddd9b087f1a89e192c8580b17b0740f3bf25a10235f394d9fd08.png')">

<div class="main-content">
  <div class="header-text-wrap">
    <h1>All The Mesimot</h1>
  </div>
  <div class="mesimot-index-wrap">
    <div class="cards">
      <div class="food card-d">
        <div class="card-head">
        <p>Food</p>
      </div>
      <div class="mesimot-wrap">
<!--  -->
<% @food_mesima.each do |food| %>
        <div class="mesima">
          <div class="mesima-name"><p><%= link_to "#{food.name}", mesima_path(food) %></p></div>
          <div class="mesima-info">
            <div class="mesima-worth">
              <%= image_tag('Frame.png', size: 20) %>
              <p><%= food.worth %> Falafels</p>
            </div>
            <div class="mesima-difficulty">
              <%= image_tag('difficulty.png', size: 20) %>
              <p><%= Mesima.set_difficulty(food.worth)%></p>
            </div>
          </div>
        </div>
<% end %>
<!--  -->
      </div>
    </div>
      <div class="activity card-d"><div class="card-head">
        <p>Activity</p>
      </div>
        <div class="mesimot-wrap">
          <% @activity_mesima.each do |food| %>
        <div class="mesima">
          <div class="mesima-name"><p><%= link_to "#{food.name}", mesima_path(food) %></p></div>
          <div class="mesima-info">
            <div class="mesima-worth">
              <%= image_tag('Frame.png', size: 20) %>
              <p><%= food.worth %> Falafels</p>
            </div>
            <div class="mesima-difficulty">
              <%= image_tag('difficulty.png', size: 20) %>
              <p><%= Mesima.set_difficulty(food.worth)%></p>
            </div>
          </div>
        </div>
<% end %>
        </div>
    </div>
      <div class="attitude card-d"><div class="card-head">
        <p>Hutzpa</p>
      </div>
        <div class="mesimot-wrap">
          <% @attitude_mesima.each do |food| %>
        <div class="mesima">
          <div class="mesima-name"><p><%= link_to "#{food.name}", mesima_path(food) %></p></div>
          <div class="mesima-info">
            <div class="mesima-worth">
              <%= image_tag('Frame.png', size: 20) %>
              <p><%= food.worth %> Falafels</p>
            </div>
            <div class="mesima-difficulty">
              <%= image_tag('difficulty.png', size: 20) %>
              <p><%= Mesima.set_difficulty(food.worth)%></p>
            </div>
          </div>
        </div>
<% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
